body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

.button {
    display: block;
    background-color: #282a36;
    color: white;
    width: 200px;
    border-style: none;
    border-radius: 3px;
    padding: 10px 0;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.button:hover:enabled {
    background: linear-gradient(#1a1a1a, #0a0a0a);
    color: #fff;
    text-decoration: none;
}

.button:disabled {
    background: lightgray;
    border:none;
}

.button:active {
    /*to get that button feel, move it slightly*/
    transform: translateY(1px);
}

/*Popular*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.languages {
    display: flex;
    justify-content: center;
    list-style: none;
    color: #36454F;
}

.languages li {
    /*I want to space out the lis based on the font size*/
    margin: 1em;
    /*Change the cursor to a pointer, we want to say these can be selected*/
    cursor: pointer;
    font-weight: bold;
}

/*Popular-Repo grid*/
.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.popular-item {
    margin: 20px;
    text-align: center;
    color: #36454F;
}

.space-list-item {
    list-style: none;
    /*margin: 1em;*/
    margin-bottom: 1em;
}

.item-rank div {
    font-weight: bold;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

/*nav bar*/
.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav li {
    margin: 20px;
}

.main-nav a {
    color: #36454F;
}

.active {
    font-weight: bold;
}

/*Home component*/
#home-container {
    margin-top: 10em;
    text-align: center;
    color: #36454F;
}

#home-container h1 {
    font-size: 4em;
}

#home-container h2 {
    font-size: 2em;
    margin-bottom: 1em;
    font-weight: normal;
}

#home-container .button {
    display: block;
    background-color: #282a36;
    color: white;
    width: 200px;
    border-radius: 3px;
    padding: 10px 0;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
}

#home-container .button:hover:enabled {
    background: linear-gradient(#1a1a1a, #0a0a0a);
    color: #fff;
    text-decoration:none;
}

#home-container .button:active {
    /*to get that button feel, move it slightly*/
    transform: translateY(1px);
}

/*Not Found Component*/

#not-found-container {
    text-align:center;
    color: #36454F;
}

#not-found-container h1 {
    font-size: 4em;
}

#not-found-container h2 {
    font-weight:normal;
}
#not-found-container h3 {
    font-size: 2em;
}

/*Battle Component*/

.battle-container {
    display: flex;
    justify-content: space-around;
}

/*User Input Component*/

.user-input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input-form input {
    height: 32px;
    margin: 2em;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding-left: 5px;
}

.user-input-header {
    color: #36454F;
    font-weight: bold;
    font-size: 2em;
}

.user-icon {
    position: relative;
    font-size: 10em;
    color: #000000;
}

.user-icon p{
	position: absolute;
	margin: 0;
    top: 38%;
    right: 43.5%;
	font-size: .2em;
    /*.fa of font awesome overrides the font-weight and font-style*/
    font-family: Ubuntu;
    font-weight: bold;
}


/*User Preview*/
.user-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset {
    cursor: pointer;
    background: transparent;
    color: crimson;
    border: none;
}
